footer ul {  
  position: absolute;
  top: 20px; 
  right: 10%;
}

footer li {
  display: inline;
  padding-left: 10px;
  
}

footer i {
  text-decoration: none;
  color:#fff;
  /* display: block;
  float: left; */
}

footer p {
position: absolute;
top: 20px;
left: 5%;
}
