#logo {
  max-width: 30%;
  margin: auto;
  }

nav {
  /* display: none; */
  background-color: #c61055;
  margin-bottom: 10px;
  font-family: 'Itim', cursive;
  font-size:10px;
} 
 nav a {
  text-decoration: none;
  color: #ddd;
}

nav li {
  padding: 1vw 2vw;
  list-style-type: none;  
} 

@media only screen and (min-width: 640px) {
  header section {
    padding: .1em .1em .1em 2em;
    float: none;
  }
 
  .icon-menu {
    font-size: 3em;
    float: right;
  }
  
  nav {
    background-color: #c61055;
    float: left;
    width: 100%;
    clear: both;
    font-size: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #ddd;
  }
  
  nav li {
    /* list-style-type:none; */
    background-color: #c61055;
    display: inline-block;
    padding: 2vw 4vw;
  }
  /* menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%; 
    margin-top: 3%;
    font-size: 8vw;
    color: #d13227;
  } */
}
